<div class="pallette-wrapper">
    <div class="pallette">
        <div class="toolbar-title">
            Layout
        </div>
        <div class="pallette-grid">
                {{#each layoutbuttons}}
                    {{> layoutbuttons}}
                {{/each}}
        </div>
        <div class="toolbar-title border-top">
            Objects
        </div>
        <div class="pallette-grid">
            {{#each objects}}
                {{> objects}}
            {{/each}}
        </div>
    </div>
</div>