<div class="pallette-wrapper">
    <div class="pallette">
        <div class="toolbar-title">
            Layout
        </div>
        <div class="pallette-grid">
            <button id="pallette-wall-button" class="pallette-item">
                <img src="/images/icons8-square-48.png" alt="">
                <span>Wall</span>
            </button>
            <button id="pallette-door-button" class="pallette-item">
                <img src="/images/icons8-door-48.png" alt="">
                <span>Door</span>
            </button>
            <button id="pallette-window-button" class="pallette-item">
                <img src="/images/icons8-window-48.png" alt="">
                <span>Window</span>
            </button>

        </div>
        <div class="toolbar-title border-top">
            Objects
        </div>
    </div>
</div>