<div class="save-backdrop">
    <div class="save-modal ui-shadow">
        <div class="toolbar-title">
            Save Project
        </div>
        <div class="save-modal-content">
            <label for="project-name">Project Name</label>
            <input name="project-name" type="text" placeholder="My Design">
            <div class="save-modal-actions">
                <button class="pill-button-sm">
                    Cancel
                </button>
                <div style="flex: 1"></div>
                <button class="pill-button-sm save-modal-save">
                    Save
                </button>
            </div>

        </div>


    </div>
</div>