<div class="toolbar-wrapper">
    <div class="toolbar">
        <div class="toolbar-title sideways">
            <span>Tools</span>
        </div>
        <button id="tool-enlarge-button" class="toolbar-button">
            <img src="/images/icons8-enlarge-48.png" alt="">
            <span>Enlarge</span>
        </button>
        <button id="tool-shrink-button" class="toolbar-button no-border">
            <img src="/images/icons8-compress-48.png" alt="">
            <span>Shrink</span>
        </button>
        <div style="flex: 1"></div>
        <button id="tool-send-back-button" class="toolbar-button">
            <img src="/images/icons8-bring-forward-48.png" alt="">
            <span>Bring<br>Forward</span>
        </button>
        <button id="tool-send-backward-button" class="toolbar-button">
            <img src="/images/icons8-send-backward-48.png" alt="">
            <span>Send<br>Backward</span>
        </button>
        <button id="tool-lock-button" class="toolbar-button no-border">
            <img src="/images/icons8-lock-48.png" alt="">
            <span>Lock</span>
        </button>
        <div style="flex: 1"></div>
        <button id="tool-delete-button" class="toolbar-button">
            <img src="/images/icons8-delete-48.png" alt="">
            <span>Delete</span>
        </button>
    </div>
</div>