<!DOCTYPE html>
<html>
  <head>
    
    {{>head}}

    <!-- Import JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <script src="/index.js" charset="utf-8" defer></script>

  </head>
  <body>

    {{{ body }}}

  </body>
</html>
