<script>
    // save_data will be populated by handlebars and can be used in other javascript files.
    // Contains the latest save present when the page was loaded.
    const save_data = `{{{ data }}}`
    const save_name = `{{{ name }}}`
</script>

<div class="page-wrapper">
    <div class="menu">
        <a href="/" id="app-title" class="grow">
            <img src="/images/icons8-cube-36.png" alt="">
            <span>
                Layout Planner
            </span>
            <!-- <div id="pro-badge">Pro</div> -->
        </a>
        <div class="menu-bar">
            <button id="menu-save-button" class="menu-item">Save</button>
            <button class="menu-item">Print</button>
            <button id="export-pdf-button" class="menu-item">Export as PDF</button>
            <button id="export-jpeg-button" class="menu-item">Export as JPEG</button>
            <button id="reset-button" class="menu-item" style="color: red">Reset</button>
        </div>

    </div>
    
    <main class="content">
    
        {{> pallette}}
    
        <div class="canvas-container-editor">
            <!-- <div class="canvas-wrapper"> -->
            
            <div class="canvas-wrapper">
                {{!-- <canvas  id="canvas"></canvas> --}}
            </div>

            <div class="canvas-wrapper">
                <div id="canvas-bg" style="width: 1920px;height:1080px;"></div>
                {{!-- <canvas width="1920" height="1080" style="margin: 0px" id="canvas2"></canvas> --}}
                <canvas id="c" width="1920" height="1080" style="border:1px solid #ccc"></canvas>
            </div>

            <!-- </div> -->
        </div>
    </main>
</div>

{{> save }}