body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    overflow: hidden;

    /* Variables */
    --border: gainsboro;
    --hover: #f9fafb;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
    position: relative;
}

#app-title {
    display: flex;
    align-items: center;
    padding-right: 16px;
    column-gap: 6px;
}

#app-title > img {
    height: 18px;
    width: 18px;
    -webkit-user-drag: none;
}

#app-title > span {
    display: block;
    font-size: 11pt;
    font-weight: 500;
}

.menu {
    min-height: 25px;
    /* width: 100%; */
    background: white;
    border: 1px solid var(--border);
    border-width: 0 0 1px 0;
    display: flex;
    align-items: stretch;
    min-height: 28px;
    padding: 0px 12px;
}

.menu-item {
    padding: 4px 8px;
    border: 1px solid var(--border);;
    border-width: 0 1px;
    background-color: transparent;
    transition: all 100ms linear;
    cursor: pointer;
}

.menu-item:hover {
    background: var(--hover);
}

.toolbar-wrapper {
    flex-shrink: 0;
    width: 100%;
}

.toolbar {
    background: white;
    border: 1px solid var(--border);;
    border-radius: 12px;
    height: 80px;
    margin: 8px;
    margin-bottom: 0;
    overflow: hidden;

    display: flex;
    align-items: stretch;
}

.toolbar-button {
    border: none;
    padding: 0.5rem;
    min-width: 80px;
    background: transparent;
    cursor: pointer;
    position: relative;
    color: #374151;
    transition: all 100ms linear;
}

.toolbar-button::after {
    width: 1px;
    bottom: 24px;
    top: 24px;
    right: -0.5px;
    background: var(--border);
    content: "";
    position: absolute;
    z-index: 1;
}

.toolbar-button:last-of-type:after,.toolbar-button.no-border:after  {
    display: none;
}

.toolbar-button:hover {
    background: var(--hover);
    color: black;
}

.toolbar-button:hover > img {
    opacity: 1.0;
}

.toolbar-button > img {
    user-select: none;
    -webkit-user-drag: none;
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
    opacity: 0.7;
}

.toolbar-button > span {
    display: block;
    font-size: 7pt;
    text-transform: uppercase;
    
    letter-spacing: 0.1ch;
    font-weight: 500;
}

.content {
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.pallette-wrapper {
    /* flex: 0; */
    flex-shrink: 0;
    width: 200px;
    display: flex;
}

.pallette {
    background: white;
    border: 1px solid var(--border);
    border-radius: 12px;
    /* min-height: 350px; */
    margin: 8px;
    margin-right: 0px;
    width: 100%;
    overflow: hidden;
}

.toolbar-title {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--border);
    /* text-transform: uppercase; */
    font-size: 10pt;
    letter-spacing: 0.05ch;
    font-weight: 600;
    background: #f3f4f6;
    color: #6b7280;
}

.toolbar-title.sideways {
    display: flex;
    align-items: center;
    border-bottom: none;
    border-right: 1px solid var(--border);
    padding: 0;
}

.toolbar-title.sideways > span {
    transform: rotate(-90deg);
    display: block;
}

.canvas-container {
    /* padding: 0 5%; */
    /* position: relative; */
    display: flex;
    align-items: stretch;
    justify-items: center;
    width: 100%;
    margin: 8px;
    position: relative;
    background: white;

    
    border-radius: 12px;
}


#canvas-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border: 1px solid var(--border);
    border-radius: 12px;

    /* Checkerboard background */
    background-image:
      linear-gradient(45deg, #eee 25%, transparent 25%), 
      linear-gradient(135deg, #eee 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #eee 75%),
      linear-gradient(135deg, transparent 75%, #eee 75%);
    background-size:25px 25px; /* Must be a square */
    background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}

.canvas-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas-container canvas {
    width: 100%;
    height: 100%;
}

.ui-shadow {
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}